@use '../settings/color';
@use '../settings/font';

.footer {
    background-color: color.$secondary-color;
    color: color.$grey;
    text-align: center;
    font-weight: 600;
    padding: 1rem 0;
}

.footer__title {
    font-size: font.$font-size-h2;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer__social {
    margin-bottom: 1rem;
}

.footer__icon {
    font-size: 1.5rem;
    color: color.$grey;
    margin: 0 1rem;
}