$maincolor: rgb(245, 245, 245);
$secondary-color: rgb(202, 194, 234);
$accent-color: rgb(97, 60, 168);
$backgroundImg: rgba(245, 245, 245, 0.2);
$white: rgb(255,255,255);
$grey: rgb(73,80,87);
$black: rgb(0, 0, 0);