.slider {
  position: relative;
  width: 100%;
  height: 90vh;
  color: rgb(255, 255, 255);
}

.slider__infos {
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  padding: 20px;
}

.slider__title {
  width: 100%;
  padding: 0px 10px;
  z-index: 1;
  text-shadow: 3px 3px rgb(0, 0, 0);
  opacity: 0;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-animation: slideFromTop 1s forwards 0.5s;
          animation: slideFromTop 1s forwards 0.5s;
}
.slider__title h1 {
  font-weight: 400;
}
.slider__title span {
  color: rgb(97, 60, 168);
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
}
.slider__title p {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
  margin-top: -5px;
  font-size: 1.55rem;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-animation: fadeInFromBottom 1s forwards 1s;
          animation: fadeInFromBottom 1s forwards 1s;
}

.slider__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.icon {
  width: 3rem;
  height: 3rem;
  margin: 5px;
  cursor: pointer;
  background: rgb(245, 245, 245);
  overflow: hidden;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-box-shadow: 0 10px 10px rbga(0, 0, 0, 0.15);
          box-shadow: 0 10px 10px rbga(0, 0, 0, 0.15);
  text-align: center;
  opacity: 0;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  -webkit-animation: slideFromLeft 1s forwards 1s;
          animation: slideFromLeft 1s forwards 1s;
}
.icon:nth-child(2) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.icon:nth-child(3) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.icon span {
  font-size: 30px;
  font-weight: 500;
  margin-left: 10px;
}

.slider__icon .icon {
  width: 3rem;
  height: 3rem;
  text-align: center;
  display: inline-block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.slider__icon .icon i {
  font-size: 25px;
  line-height: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.icon:hover i,
.icon:hover span {
  color: rgb(255, 255, 255);
}

.icon:hover {
  width: 15rem;
  background-color: rgb(97, 60, 168);
}

.prev,
.next {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 3rem;
  font-weight: bold;
  padding: 0 1rem;
  cursor: pointer;
  color: rgb(255, 255, 255);
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.prev:hover,
.next:hover {
  color: rgb(97, 60, 168);
}

.next {
  right: 0;
}

.slider__dot {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 20px;
}

.dot {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
  margin: 0 5px;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}

.dot.actived {
  border-color: rgb(97, 60, 168);
}

.slider__image {
  position: relative;
  top: 0;
  z-index: -1;
  width: 100%;
}

/* .slider__image> video {
  display: block;
  width: 100%;
  height: 90vh;
  object-fit: cover;
} */
.slider__image > img {
  display: block;
  width: 100%;
  height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.image {
  position: absolute;
  inset: 0;
  opacity: 0;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  -webkit-animation: zoomin 0.5s ease-in-out;
          animation: zoomin 0.5s ease-in-out;
}

.image[data-active] {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (max-width: 844px) {
  .slider__title {
    text-shadow: 3px 3px rgb(0, 0, 0);
  }
  .slider__title span {
    font-size: 4rem;
  }
  .slider__title p {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 375px) {
  .icon:hover {
    width: 3rem;
  }
  .slider__infos {
    background-color: transparent;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }
}/*# sourceMappingURL=slider.css.map */